.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.toggle-text {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
